/*=======================
 * CUSTOM PROPERTIES
 *========================**/
@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 400 900;
  font-style: normal;
}
@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
  font-weight: 400 900;
  font-style: normal;
}

:root {
  /* colors */
  --clr-rose-800: 332 51% 32%;
  --clr-rose-50: 330 100% 98%;

  --clr-stone-900: 24 5% 18%;
  --clr-stone-600: 30 10% 34%;
  --clr-stone-150: 30 18% 87%;
  --clr-stone-100: 30 54% 90%;

  --clr-brown-800: 14 45% 36%;

  /* foot-size */
  --fs-900: 2.5rem; /*40px*/
  --fs-600: 1.75rem; /*28px*/
  --fs-400: 1.25rem; /* 20px */
  --fs-300: 1rem; /* 16px

  /* font-family */
  --ff-outfit-sans: "Outfit", sans-serif;
  --ff-young-serif: "Young Serif", serif;

  /* spacing */
  --gap: 1.5rem;
}

/*=======================
 * RESET
 * ref: https://www.joshwcomeau.com/css/custom-css-reset/
 *========================**/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-outfit-sans);
  font-size: var(--fs-300);
  color: hsl(var(--clr-stone-600));
  background-color: hsl(var(--clr-stone-100));

  line-height: 1.5;
  min-height: 100vh;

  /* improve text rendering on mac */
  -webkit-font-smoothing: antialiased;
  /* streches the grid to fill the available space vertically */
  grid-template-rows: min-content 1fr;

  overflow-x: hidden;
}

img {
  /* https://www.youtube.com/watch?v=345V2MU3E_w */
  font-style: italic;

  display: block;
  max-width: 100%;
  height: auto;
}

/* avoid text overflows */
p,
h1 {
  overflow-wrap: break-word;
}

/*=======================
 * UTILITY CLASSES
 *========================**/

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* bg colors */
.bg-rose-light {
  background-color: hsl(var(--clr-rose-50));
}
.bg-stone-subtle {
  background-color: hsl(var(--clr-stone-100));
}

/* text-colors */
.stone-dark {
  color: hsl(var(--clr-stone-900));
}
.stone-gray {
  color: hsl(var(--clr-stone-600));
}

.rose {
  color: hsl(var(--clr-rose-800));
}

.brown {
  color: hsl(var(--clr-brown-800));
}

/* font-family */
.ff-young-serif {
  font-family: var(--ff-young-serif);
}
.ff-outfit-sans {
  font-family: var(--ff-outfit-sans);
}

/* font-size */
.fs-900,
.fs-600,
.fs-400 {
  line-height: 1;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
  line-height: 1.5;
}
