/*=======================
 * CUSTOM PROPERTIES
 *========================**/
@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 400 900;
  font-style: normal;
}
@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
  font-weight: 400 900;
  font-style: normal;
}

:root {
  /* colors */
  --clr-rose-800: 332 51% 32%;
  --clr-rose-50: 330 100% 98%;

  --clr-stone-900: 24 5% 18%;
  --clr-stone-600: 30 10% 34%;
  --clr-stone-150: 30 18% 87%;
  --clr-stone-100: 30 54% 90%;

  --clr-brown-800: 14 45% 36%;

  /* foot-size */
  --fs-900: 2.25rem; /*36px*/
  --fs-600: 1.75rem; /*28px*/
  --fs-400: 1.25rem; /* 20px */
  --fs-300: 1rem; /* 16px

  /* font-family */
  --ff-outfit-sans: "Outfit", sans-serif;
  --ff-young-serif: "Young Serif", serif;

  --gap-section: 2rem;
  --gap-component: 1.5rem;
  --gap-compact: 1rem;
}

@media (min-width: 35.01rem) {
  :root {
    --fs-900: 2.5rem; /*40px*/
  }
}

/*=======================
 * RESET
 * ref: https://www.joshwcomeau.com/css/custom-css-reset/
 *========================**/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-outfit-sans);
  font-size: var(--fs-300);
  color: hsl(var(--clr-stone-600));
  background-color: hsl(var(--clr-stone-100));

  align-items: center;
  line-height: 1.5;
  min-height: 100dvh;

  /* improve text rendering on mac */
  -webkit-font-smoothing: antialiased;
  /* streches the grid to fill the available space vertically */
  grid-template-rows: min-content 1fr;

  overflow-x: hidden;
  margin-block: 8rem;
}

img {
  /* https://www.youtube.com/watch?v=345V2MU3E_w */
  font-style: italic;

  display: block;
  max-width: 100%;
  height: auto;
}

/* avoid text overflows */
p,
h1 {
  overflow-wrap: break-word;
}

.container ul,
.container ol {
  /* list-style-position: inside; */
  margin-left: 1.5rem;
}

/*=======================
 * UTILITY CLASSES
 *========================**/

/* general */

.flex {
  display: flex;
  flex-direction: column;
  gap: var(--gap-component, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap-section, 1rem);
}

/* bg colors */
.bg-rose-light {
  background-color: hsl(var(--clr-rose-50));
}
.bg-stone-subtle {
  background-color: hsl(var(--clr-stone-100));
}

/* text-colors */
.stone-dark {
  color: hsl(var(--clr-stone-900));
}
.stone-gray {
  color: hsl(var(--clr-stone-600));
}

.rose {
  color: hsl(var(--clr-rose-800));
}

.brown {
  color: hsl(var(--clr-brown-800));
}

/* font-family */
.ff-young-serif {
  font-family: var(--ff-young-serif);
}
.ff-outfit-sans {
  font-family: var(--ff-outfit-sans);
}

/* font-size */
.fs-900,
.fs-600,
.fs-400 {
  line-height: 1;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
  line-height: 1.5;
}

/*=======================
 * COMPONENTS
 *========================**/
.recipe-page {
  background-color: #fff;
  justify-self: center;
  border-radius: 1.5rem;
}

.recipe-image {
  border-radius: 0.75rem;
}

h1 {
  color: hsl(var(--clr-stone-900));
}

.prep-time {
  background-color: hsl(var(--clr-rose-50));
  padding: 1.5rem;
  border-radius: 0.75rem;
  gap: var(--gap-compact, --gap-component);
}

h2 {
  color: hsl(var(--clr-brown-800));
}

section:nth-of-type(1) h2 {
  color: hsl(var(--clr-rose-800));
  font-size: var(--fs-400);
  font-weight: 600;
}

ol,
ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* list marker styling */
ol ::marker,
ul ::marker {
  color: hsl(var(--clr-rose-800));
}
ul ::marker {
  font-size: 0.8em;
}
ol ::marker {
  font-weight: bold;
}

li {
  /* respects text direction unlike padding-left */
  padding-inline-start: 1em;
}

hr {
  border: none;
  border-top: 1px solid hsl(var(--clr-stone-150));
}

@media (max-width: 35em) {
  body {
    margin: 0;
    background-color: inherit;
  }

  .recipe-page.grid {
    gap: 0;
  }
  .recipe-page {
    width: min(100%, 35rem);
    border-radius: 0;
  }

  .container {
    padding-block: 2.5rem;
    padding-inline: 2rem;
  }
}

/* tablets */
@media (min-width: 35.01em) and (max-width: 48em) {
  .recipe-page {
    max-width: clamp(35.01rem, 84%, 38.5rem);
    padding: 2.5rem;
  }
}

/* desktop */
@media (min-width: 48.01em) {
  .recipe-page {
    max-width: clamp(38.5rem, 80%, 46rem);
    padding: 2.5rem;
  }
}
